body{
    background-color:white
}

h2{
    color:maroon;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size:  2.2em;
}

h3{
    color: #7C0902;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 2.0em;
}

p{
    color: #FF0000
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.8em;
}

button{
display:block;
margin: 0 auto;
}